*:focus {
    transition: none !important;
}

@media (prefers-color-scheme: dark) {
    *:focus {
        outline: 2px solid #8bc3ff !important;
        outline-offset: 2px;
    }
}

@media (prefers-color-scheme: light) {
    *:focus {
        outline: 2px solid #0063cc !important;
        outline-offset: 2px;
    }
}

@media (max-width: 1000px) {
    *:focus,
    *:hover {
        outline: none !important;
    }
}

/* High Contrast Settings */
@media (prefers-contrast: more) {
    * {
        font-weight: bold;
        word-wrap: break-word;
        color: #000 !important;
    }

    *:focus {
        outline: 5px solid #0000ff !important;
        outline-offset: 2px;
    }

    a {
        color: #0000ff !important;
        text-decoration: underline;
    }

    div.disclaimer-section {
            border: solid;
        }

    b {
        font-weight: 600;
    }

    a {
        color: #0000ff !important;
        text-decoration: underline;
        border-bottom: 1px solid currentColor;
    }

    section {
        border: solid;
    }

    .info {
        color: #000 !important;
    }

    @media (hover: hover) {
        div.card:hover,
        div.card:focus,
        div.card:active {
            transform: scale(1.1);
        }

        a:hover,
        a:focus,
        a:active {
            color: #0063cc !important;
            transform: scale(1.4);
        }
    }

    @media (prefers-color-scheme: dark) {
        * {
            font-weight: bold;
            color: #fff !important;
        }

        *:focus {
            outline: 5px solid #8bc3ff !important;
            outline-offset: 2px;
        }

        a {
            color: #8bc3ff !important;
            text-decoration: underline;
        }

        section {
            border: solid;
        }

        div.disclaimer-section {
            border: solid;
        }

        .info {
            color: #fff !important;
        }

        @media (hover: hover) {
            a:hover,
            a:focus {
                color: #0063cc !important;
                transform: scale(1.4);
            }
        }
    }
}
