@import "fonts.css";

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
    }

    h1 {
        margin-bottom: 1%;
        font-size: 30px;
        font-weight: 900;
    }

    h2 {
        margin-bottom: 1%;
        font-size: 25px;
        font-weight: 500;
    }

    p {
        margin-bottom: 20px;
        font-family: "Montserrat";
        text-align: left;
        font-size: 28px;
        font-weight: 300;
    }

    p:Last-child {
        margin-bottom: 0;
    }

    section,
    footer {
        margin: 40px auto;
        max-width: 1000px;
        width: 70%;
        padding: 20px;
        background-color: #222;
        border-radius: 20px;
    }

    footer {
        margin-top: 0;
        padding-top: 5px;
    }

    img.desktop {
        width: 100%;
        height: auto;
        filter: invert();
    }

    /* Hidden */
    img.mobile {
        display: none;
    }

    a {
        text-decoration: none;
        color: #8bc3ff;
        transition: all 200ms ease;
    }

    a:hover,
    a:focus {
        color: #0063cc;
    }

    /* Mobile version */
    @media (max-width: 768px) {
        h2 {
            margin-bottom: 1%;
            font-size: 20px;
            font-weight: 500;
        }

        p {
            margin-bottom: 20px;
            text-align: left;
            font-size: 20px;
        }

        p:Last-child {
            margin-bottom: 0;
        }

        section,
        footer {
            margin: 5% auto;
            width: 90%;
        }

        img.mobile {
            display: block;
            width: 100%;
            height: auto;
            filter: invert();
        }

        /* Hidden */
        img.desktop {
            display: none;
        }
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    body {
        color: #000;
    }

    h1 {
        margin-bottom: 1%;
        font-size: 30px;
        font-weight: 900;
    }

    h2 {
        margin-bottom: 1%;
        font-size: 25px;
        font-weight: 500;
    }

    p {
        margin-bottom: 20px;
        font-family: "Montserrat";
        text-align: left;
        font-size: 28px;
        font-weight: 300;
    }

    p:Last-child {
        margin-bottom: 0;
    }

    section,
    footer {
        margin: 40px auto;
        max-width: 1000px;
        width: 70%;
        padding: 20px;
        background-color: #eee;
        border-radius: 20px;
    }

    img.desktop {
        width: 100%;
        height: auto;
    }

    /* Hidden */
    img.mobile {
        display: none;
    }

    a {
        text-decoration: none;
        color: #0063cc;
        transition: all 200ms ease;
    }

    a:hover,
    a:focus {
        color: #8bc3ff;
    }

    /* Mobile version */
    @media (max-width: 768px) {
        h2 {
            margin-bottom: 1%;
            font-size: 20px;
            font-weight: 500;
        }

        p {
            margin-bottom: 20px;
            text-align: left;
            font-size: 20px;
        }

        p:Last-child {
            margin-bottom: 0;
        }

        section,
        footer {
            margin: 5% auto;
            width: 90%;
        }

        img.mobile {
            display: block;
            width: 100%;
            height: auto;
        }

        /* Hidden */
        img.desktop {
            display: none;
        }
    }
}
